/*  style.css
-------------------
Par Bertille PINEAU  */

body
{
    /*theme fonce*/
    /*background: rgb(42,4,80);
    background: linear-gradient(90deg, rgba(42,4,80,1) 0%, rgba(65,9,121,1) 38%, rgba(0,164,255,1) 100%);
    */
    /*theme moins fonce que le premier mais fonce si ca reste*/
    /*background: rgb(42,4,80);
    background: linear-gradient(90deg, rgba(42,4,80,0.9251050762101716) 0%, rgba(65,9,121,0.9026961126247374) 38%, rgba(0,151,255,0.9699230033810399) 100%);
    */
    /*theme plus clair / */
    /*background: rgb(42,4,80);
    background: linear-gradient(90deg, rgba(42,4,80,0.9251050762101716) 0%, rgba(150,59,241,0.7402311266303396) 38%, rgba(0,151,255,0.9699230033810399) 100%);*/
    /*theme plus clair que le precedent / ACTUEL*/
    background: rgb(47,42,122);
    background: linear-gradient(90deg, rgba(47,42,122,0.9724264705882353) 0%, rgba(55,210,190,1) 36%, rgba(0,212,255,1) 100%);
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.salutations
{
    color:darkred; /* Les paragraphes seront en rouge fonce */
}

h1
{
    text-align: center;
    font-family: "Lucinda Handwriting";
    color: crimson;
    font-size: xx-large;
    font-weight: bold;
}

h2
{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: rgb(0, 110, 255);
    font-size: x-large;
    font-style: italic;
}

h3
{
    text-align: center;
    font-family: "Curlz MT";
    color :brown;
    font-size: 25px;

}

p
{
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: normal;
    font-size: large; /* taille paragraphe */
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.alinea
{
    text-indent: 5%;
}

.image
{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.imageflottante
{
    float:right;
    margin-left: 10px;
}

li
{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:brown;
    font-size: large;
    margin-left: 175px;
    margin-right: 175px;
}

.article /*Modification allure bouton article : article dans cadre cours*/
{
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
    text-decoration: none;
}

.page /*Modification allure ecrite bouton articles autres : google, chevrollier  +  liens dans les articles*/
{
    font-weight: bold;
    font-family: "Curlz MT";
    color: maroon;
    font-size: 1.2em;
    text-decoration: none;
}

w /*déplacement bouton vers centre page et parametres texte bouton*/
{
    /*display:flex;*/
    align-items:center;
    justify-content:center;
    text-align: center;
}

.li /*changement couleur liste*/
{
    color:black;
}

.styled /*Allure bouton*/
{
    border: 0;
    line-height: 2.5; /*hauteur des boutons*/
    padding: 0 20px; /*marges exterieures (texte/bouton)*/
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px; /*Arrondis bord des boutons*/
    background-color: rgb(248, 141, 11); /*couleur du bouton quand on le voit*/
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.styled:hover 
{
    background-color: rgb(0, 234, 255); /*couleur du bouton quand survole avec souris*/
}

.styled:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

small, .small /*texte tous droits reserves en petit en fin de page*/
{
    text-align: center;
    margin-bottom: 20px;
    font-size: .8em;
}
